DATABASE_URL=postgresql://user:password@localhost:5432/voice2task
SECRET_KEY=cambia_esto_por_una_clave_secreta_larga
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_DAYS=7
GROQ_API_KEY=tu_groq_api_key
WHISPER_MODEL=whisper-large-v3-turbo
GROQ_MODEL=openai/gpt-oss-120b